.gp{
    background-color: red;
    height: 7rem;
    width: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.p{
    background-color: blue;
    height: 5rem;
    width: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}
.c{
    background-color: green;
    height: 3rem;
    width: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}